<div class="breadcrumb">
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a> > <a [routerLink]="['/baseball']" routerLinkActive="active">Baseball</a></li>
</div>
<div class="produtos">
    <ul>
        <li>
            <img src="assets/baseball/brooklyn.jpg">
            <p><b>CAMISETA BROOKLYN</b> <br>R$145,99</p>
        </li>
        <li>
            <img src="assets/baseball/chicago.jpg">
            <p><b>CAMISETA CHICAGO</b> <br>R$150,95</p>
        </li>
        <li>
            <img src="assets/baseball/detroit.jpg">
            <p><b>CAMISETA DETROIT TIGERS</b> <br>R$169,90</p>
        </li>
        <li>
            <img src="assets/baseball/dodgers.jpg">
            <p><b>CAMISETA DODGERS</b> <br>R$209,99</p>
        </li>
        <li>
            <img src="assets/baseball/londres.jpg">
            <p><b>CAMISETA LONDRES</b> <br>R$199,90</p>
        </li>
        <li>
            <img src="assets/baseball/miami.jpg">
            <p><b>CAMISETA MIAMI</b> <br>R$179,99</p>
        </li>
        <li>
            <img src="assets/baseball/new-york.jpg">
            <p><b>CAMISETA NEW YORK</b> <br>R$169,90</p>
        </li>
        <li>
            <img src="assets/baseball/prison.jpg">
            <p><b>CAMISETA PRISON AKATSUKI</b> <br>R$127,92</p>
        </li>
        <li>
            <img src="assets/baseball/red-sox.jpg">
            <p><b>CAMISETA RED SOX</b> <br>R$169,90</p>
        </li>
        <li>
            <img src="assets/baseball/san-francisco.jpg">
            <p><b>CAMISETA SAN FRANCISCO</b> <br>R$149,99</p>
        </li>
    </ul>
    
</div>