<div class="breadcrumb">
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a> > <a [routerLink]="['/skate']" routerLinkActive="active">Skate</a></li>
</div>
<div class="produtos">
    <ul>
        <li>
            <img src="assets/skate/cat.jpg">
            <p><b>CAMISETA CAT</b> <br>R$34,90</p>
        </li>
        <li>
            <img src="assets/skate/cbjr.jpg">
            <p><b>CAMISETA CHARLIE BROWN JR</b> <br>R$31,96</p>
        </li>
        <li>
            <img src="assets/skate/levis.jpg">
            <p><b>CAMISETA LEVI´S</b> <br>R$69,93</p>
        </li>
        <li>
            <img src="assets/skate/love.jpg">
            <p><b>CAMISETA LOVE SKATE</b> <br>R$59,90</p>
        </li>
        <li>
            <img src="assets/skate/nofx.jpg">
            <p><b>CAMISETA NOFX MONSWAR</b> <br>R$60,00</p>
        </li>
        <li>
            <img src="assets/skate/of.jpg">
            <p><b>CAMISETA OF</b> <br>R$47,30</p>
        </li>
        <li>
            <img src="assets/skate/pineapple.jpg">
            <p><b>CAMISETA PINEAPPLE</b> <br>R$45,90</p>
        </li>
        <li>
            <img src="assets/skate/screaming.jpg">
            <p><b>CAMISETA SCREAMING</b> <br>R$99,90</p>
        </li>
        <li>
            <img src="assets/skate/streetwear.jpg">
            <p><b>CAMISETA STREETWEAR</b> <br>R$49,90</p>
        </li>
        <li>
            <img src="assets/skate/thrasher.jpg">
            <p><b>CAMISETA THRASHER</b> <br>R$119,90</p>
        </li>
    </ul>
</div>