<div class="breadcrumb">
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a> > <a [routerLink]="['/volei']" routerLinkActive="active">Vôlei</a></li>
</div>
<div class="produtos">
    <ul>
        <li>
            <img src="assets/volei/barueri.jpg">
            <p><b>CAMISETA BARUERI</b> <br>R$151,91</p>
        </li>
        <li>
            <img src="assets/volei/brasil.jpg">
            <p><b>CAMISETA BRASIL</b> <br>R$179,90</p>
        </li>
        <li>
            <img src="assets/volei/cruzeiro.jpg">
            <p><b>CAMISETA CRUZEIRO</b> <br>R$89,90</p>
        </li>
        <li>
            <img src="assets/volei/franca.jpg">
            <p><b>CAMISETA FRANÇA</b> <br>R$104,90</p>
        </li>
        <li>
            <img src="assets/volei/italia.jpg">
            <p><b>CAMISETA ITÁLIA</b> <br>R$109,90</p>
        </li>
        <li>
            <img src="assets/volei/minas.jpg">
            <p><b>CAMISETA MINAS</b> <br>R$99,90</p>
        </li>
        <li>
            <img src="assets/volei/osasco.jpg">
            <p><b>CAMISETA OSASCO</b> <br>R$159,90</p>
        </li>
        <li>
            <img src="assets/volei/pinheiros.jpg">
            <p><b>CAMISETA PINHEIROS</b> <br>R$73,95</p>
        </li>
        <li>
            <img src="assets/volei/sesi.jpg">
            <p><b>CAMISETA SESI-SP</b> <br>R$85,41</p>
        </li>
        <li>
            <img src="assets/volei/taubate.jpg">
            <p><b>CAMISETA TAUBATÉ</b> <br>R$74,90</p>
        </li>
    </ul>
</div>