<div class="breadcrumb">
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a> > <a [routerLink]="['/futsal']" routerLinkActive="active">Futsal</a></li>
</div>
<div class="produtos">
    <ul>
        <li>
            <img src="assets/futsal/assoeva.jpg">
            <p><b>CAMISETA ASSOEVA</b> <br>R$89,99</p>
        </li>
        <li>
            <img src="assets/futsal/brasil.jpg">
            <p><b>CAMISETA BRASIL</b> <br>R$154,40</p>
        </li>
        <li>
            <img src="assets/futsal/cascavel.jpg">
            <p><b>CAMISETA CASCÁVEL</b> <br>R$59,90</p>
        </li>
        <li>
            <img src="assets/futsal/espanha.jpg">
            <p><b>CAMISETA ESPANHA</b> <br>R$147,90</p>
        </li>
        <li>
            <img src="assets/futsal/lagarto.jpg">
            <p><b>CAMISETA LAGARTO</b> <br>R$92,00</p>
        </li>
        <li>
            <img src="assets/futsal/magnus.jpg">
            <p><b>CAMISETA MAGNUS</b> <br>R$120,90</p>
        </li>
        <li>
            <img src="assets/futsal/marechal.jpg">
            <p><b>CAMISETA MARECHAL</b> <br>R$95,99</p>
        </li>
        <li>
            <img src="assets/futsal/minas.jpg">
            <p><b>CAMISETA MINAS</b> <br>R$169,00</p>
        </li>
        <li>
            <img src="assets/futsal/red-black.jpg">
            <p><b>CAMISETA RED BLACK</b> <br>R$55,90</p>
        </li>
        <li>
            <img src="assets/futsal/sandalus.jpg">
            <p><b>CAMISETA SANDALUS</b> <br>R$99,90</p>
        </li>
    </ul>
</div>