<div class="breadcrumb">
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a> > <a [routerLink]="['/corrida']" routerLinkActive="active">Corrida</a></li>
</div>
<div class="produtos">
    <ul>
        <li>
            <img src="assets/corrida/280-3.jpg">
            <p><b>CAMISETA MARATONA 280-3</b> <br>R$50,00</p>
        </li>
        <li>
            <img src="assets/corrida/280-19.jpg">
            <p><b>CAMISETA MARATONA 280-19</b> <br>R$50,00</p>
        </li>
        <li>
            <img src="assets/corrida/alpha.jpg">
            <p><b>CAMISETA ALPHA</b> <br>R$79,00</p>
        </li>
        <li>
            <img src="assets/corrida/core.jpg">
            <p><b>CAMISETA ADIDAS CORE 18</b> <br>R$59,99</p>
        </li>
        <li>
            <img src="assets/corrida/dry.jpg">
            <p><b>CAMISETA RUN DRY</b> <br>R$39,99</p>
        </li>
        <li>
            <img src="assets/corrida/fire.jpg">
            <p><b>CAMISETA FIRE RUN</b> <br>R$39,00</p>
        </li>
        <li>
            <img src="assets/corrida/gacc.jpg">
            <p><b>CAMISETA GACC</b> <br>R$55,00</p>
        </li>
        <li>
            <img src="assets/corrida/park.jpg">
            <p><b>CAMISETA NIKE PARK</b> <br>R$49,99</p>
        </li>
        <li>
            <img src="assets/corrida/sunny.jpg">
            <p><b>CAMISETA SUNNY FUTURE</b> <br>R$56,66</p>
        </li>
        <li>
        <img src="assets/corrida/uppercut.jpg">
            <p><b>CAMISETA UPPERCUT</b> <br>R$49,00</p>
        </li>
    </ul>
</div>