<div class="breadcrumb">
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a> > <a [routerLink]="['/natacao']" routerLinkActive="active">Natação</a></li>
</div>
<div class="produtos">
    <ul>
        <li>
            <img src="assets/natacao/adstore.jpg">
            <p><b>CAMISETA ADSTORE</b> <br>R$45,90</p>
        </li>
        <li>
            <img src="assets/natacao/kdry.jpg">
            <p><b>CAMISETA KDRY 500</b> <br>R$149,99</p>
        </li>
        <li>
            <img src="assets/natacao/mormaii.jpg">
            <p><b>CAMISETA MORMAII NEOLYCRA</b> <br>R$246,00</p>
        </li>
        <li>
            <img src="assets/natacao/oxer.jpg">
            <p><b>CAMISETA OXER</b> <br>R$75,00</p>
        </li>
        <li>
            <img src="assets/natacao/penalty.jpg">
            <p><b>CAMISETA PENALTY MATIS</b> <br>R$95,99</p>
        </li>
        <li>
            <img src="assets/natacao/pino.jpg">
            <p><b>CAMISETA PINO</b> <br>R$273,90</p>
        </li>
        <li>
            <img src="assets/natacao/poker.jpg">
            <p><b>CAMISETA POKER SKIN BASIC</b> <br>R$84,90</p>
        </li>
        <li>
            <img src="assets/natacao/rashguard.jpg">
            <p><b>CAMISETA RASHGUARD</b> <br>R$95,65</p>
        </li>
        <li>
            <img src="assets/natacao/twr.jpg">
            <p><b>CAMISETA TWR GRAPHIC</b> <br>R$69,99</p>
        </li>
        <li>
            <img src="assets/natacao/winder.jpg">
            <p><b>CAMISETA FUN DIVE WINDER</b> <br>R$225</p>
        </li>
    </ul>
</div>