<div class="breadcrumb">
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a> > <a [routerLink]="['/futebol']" routerLinkActive="active">Futebol</a></li>
</div>
<div class="produtos">
    <ul>
        <li>
            <img src="assets/futebol/barcelona.jpg">
            <p><b>CAMISETA BARCELONA</b> <br>R$169,99</p>
        </li>
        <li>
            <img src="assets/futebol/corinthians.jpg">
            <p><b>CAMISETA CORINTHIANS</b> <br>R$149,99</p>
        </li>
        <li>
            <img src="assets/futebol/flamengo.jpg">
            <p><b>CAMISETA FLAMENGO</b> <br>R$189,99</p>
        </li>
        <li>
            <img src="assets/futebol/inter.jpg">
            <p><b>CAMISETA INTER DE MILÃO</b> <br>R$299,00</p>
        </li>
        <li>
            <img src="assets/futebol/liverpool.jpg">
            <p><b>CAMISETA LIVERPOOL</b> <br>R$169,99</p>
        </li>
        <li>
            <img src="assets/futebol/palmeiras.jpg">
            <p><b>CAMISETA PALMEIRAS</b> <br>R$269,99</p>
        </li>
        <li>
            <img src="assets/futebol/psg.jpg">
            <p><b>CAMISETA PSG</b> <br>R$299,99</p>
        </li>
        <li>
            <img src="assets/futebol/santos.jpg">
            <p><b>CAMISETA SANTOS</b> <br>R$179,99</p>
        </li>
        <li>
            <img src="assets/futebol/sao-paulo.jpg">
            <p><b>CAMISETA SÃO PAULO</b> <br>R$199,99</p>
        </li>
        <li>
            <img src="assets/futebol/tottenham.jpg">
            <p><b>CAMISETA TOTTENHAM </b> <br>R$299,99</p>
        </li>
    </ul>
</div>