<div class="breadcrumb">
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a> > <a [routerLink]="['/motocross']" routerLinkActive="active">Motocross</a></li>
</div>
<div class="produtos">
    <ul>
        <li>
            <img src="assets/motocross/classic.jpg">
            <p><b>CAMISETA CLASSIC SPORTS</b> <br>R$65,90</p>
        </li>
        <li>
            <img src="assets/motocross/factory.jpg">
            <p><b>CAMISETA FACTORY</b> <br>R$75,90</p>
        </li>
        <li>
            <img src="assets/motocross/fox.jpg">
            <p><b>CAMISETA FOX 360 DIER</b> <br>R$237,41</p>
        </li>
        <li>
            <img src="assets/motocross/insane.jpg">
            <p><b>CAMISETA INSANE X AD</b> <br>R$54,90</p>
        </li>
        <li>
            <img src="assets/motocross/kawasaki.jpg">
            <p><b>CAMISETA KAWASAKI KXF 250</b> <br>R$159,90</p>
        </li>
        <li>
            <img src="assets/motocross/spartan.jpg">
            <p><b>CAMISETA SPARTAN</b> <br>R$84,95</p>
        </li>
        <li>
            <img src="assets/motocross/thor.jpg">
            <p><b>CAMISETA THOR</b> <br>R$93,90</p>
        </li>
        <li>
            <img src="assets/motocross/tribos.jpg">
            <p><b>CAMISETA TRIBOS E TRILHAS</b> <br>R$94,81</p>
        </li>
        <li>
            <img src="assets/motocross/yamaha.jpg">
            <p><b>CAMISETA YAMAHA WRF 250</b> <br>R$120,90</p>
        </li>
        <li>
            <img src="assets/motocross/ziiip.jpg">
            <p><b>CAMISETA ZIIIP MO021</b> <br>R$69,90</p>
        </li>
    </ul>
</div>