body{
    padding: 0;
    margin: 0;
    background-color: rgb(165, 165, 165);
}

.breadcrumb{
    float: right;
    font-size: 25px;
    height: 50px;
    width: 85%;
    margin-bottom: 10px;
    background-color: rgb(80, 80, 80);
}

.breadcrumb li{
    margin-left: 15px;
    padding-top: 10px;
}

.breadcrumb a{
    color: rgb(18, 20, 128);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.produtos{
    margin-left: 15%;
    text-align: center;
}

.produtos img{
    width: 240px;
    height: 240px;
}

.produtos p{
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.produtos ul li{
    height: 300px;
    border: 2px #D71212 solid;
    margin: 5px;
    background-color: black;
    display: inline-block;
}

