.logo{
    text-align: center;
    margin-left: 15%;
}

.logo img{
    margin-top: 8%;
    width: 50%;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: #D71212;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}